<div class="comment-form">
  <% model = [local_assigns[:commentable], comment].compact %>

  <%= form_with(model: model, id: dom_id_for_records(*model)) do |f| %>

    <%= f.text_area :content, cols: 120, rows: 4, required: true %>

    <%= button_tag :submit do %>
      <span class="material-icons">add</span>
      <span class="material-icons">forum</span>
    <% end %>

    <%= link_to "Cancel", comment if f.object.persisted? %>
  <% end %>
</div>
