<div class="comment-form">
  <% model = [local_assigns[:commentable], comment].compact %>

  <%= form_with(model: model, id: dom_id_for_records(*model)) do |f| %>

    <div class="form-fields">
      <%= f.text_area :content, cols: 120, rows: 1, required: true, placeholder: "Write a comment" %>

      <%= button_tag :submit do %>
        <span class="material-icons">add</span>
        <span class="material-icons">forum</span>
      <% end %>
    </div>

  <% end %>

  <%= link_to "Cancel", comment, class: "cancel-edit-mode" if comment.persisted? %>
</div>
