<div class="comment-form">
  <%= form_with scope: :comment, url: comments_path, params: { post: post } do |f| %>
    <%= f.hidden_field :post_id, :value => post.id %>

    <%= f.text_area :content, cols: 120, rows: 4 %>

    <%= button_tag :submit do %>
      <span class="material-icons">add</span>
      <span class="material-icons">forum</span>
    <% end %>
  <% end %>
</div>
