<div class="comment-container">
  <%= render partial: 'users/avatar', locals: { user: comment.author } %>
  <div class="comment-content">
    <p><strong><%= comment.author.full_name %></strong></p>
    <p><%= comment.content %></p>
  </div>
</div>
