<div class="friend-container">
  <%= request.requested_friend.email %>
  <%= button_to "Delete Request", friendship_request_path(request), method: :delete, data: { confirm: "Are you sure?" }, form_class: "btn-friendship" %>
</div>
