<div class="friend-container">
  <div class="friend-profile">
    <%= render partial: 'users/avatar', locals: { user: user } %>
    <p><%= user.full_name%></p>
  </div>
  <%= button_to "Add Friend", friendship_requests_path, method: :post, params: { requested_friend_id: user.id }, form_class: "form-button" %>
</div>
