<div class="friend-container">
  <%= request.user.email %>
  <% friendship_request_statuses.each do |status| %>
    <% next if request.status == status %>
    <%= button_to "#{request.change_status_label[status.to_sym]}", friendship_request_path(request), method: :patch, params: { status: "#{status}" }, form_class: "btn-friendship" %>
  <% end %>
</div>
