<div class="friend-container">
  <div class="friend-profile">
    <span class="material-icons profile-picture">account_circle</span>
    <p><%= inverse_friend.full_name %></p>
  </div>
  <div class="btn-group">
    <% friendship_request_statuses.each do |status| %>
      <% next if request.status == status %>
      <%= button_to "#{request.change_status_label[status.to_sym]}", friendship_request_path(request), method: :patch, params: { status: "#{status}" }, form_class: "form-button" %>
    <% end %>
  </div>
</div>
