html {
  height: 100%;
}

body {
  background-color: $color-primary-gray;
  color: $color-white;
  display: flex;
  font-family: $font-primary;
  flex-direction: column;
  height: 100%;

  * > {flex: 0 1 auto;}
}

main {
  flex: 1 0 auto;
  margin: 0 var(--page-margin);
  min-height: auto;
}

button {
  cursor: pointer;
}
