a {
  color: $color-white;

  &:visited {
    color: inherit;
  }
}

h2, h3 {
  color: $color-accent-blue;
  margin: 1rem 0;
}

small {
  color: $color-white;
}

textarea {
  font-family: $font-primary;
  font-size: 1rem;
}
