<h2>Notifications</h2>
<div class="notification-summary">
  <% @notifications&.each do |notification| %>

    <% if notification.friendship_request? %>
      <p>Friend Request:</p>
      <%= render partial: 'friendship_requests/show',
                  locals: { request: notification.notifiable,
                            inverse_friend: notification.notifiable.user,
                            friendship_request_statuses: @friendship_request_statuses } %>
    <% elsif notification.notifiable&.text_post? %>
      <%= render partial: 'text_posts/summary', locals: { notification: notification } %>
    <% elsif notification.notifiable&.photo_post? %>
      <%= render partial: 'photo_posts/summary', locals: { notification: notification } %>
    <% end %>
  <% end %>

  <%= paginate @notifications %>

</div>
