<h2>Notifications</h2>
<div class="notification-summary">
  <% @notifications&.each do |notification| %>

    <%= render partial: 'friendship_requests/show',
                locals: { request: notification.friendship_request,
                          inverse_friend: notification.friendship_request.user,
                          friendship_request_statuses: @friendship_request_statuses } %>

  <% end %>
</div>
