<div class="like-form">
  <%= button_to [ likeable, Like.new ], method: :post, params: { likeable: likeable }, form_class: "form-button" do %>
    <span class="material-icons">add</span>
    <span class="material-icons">thumb_up</span>
  <% end %>
</div>
