<h1>User Index Page</h1>
<h2>Friends</h2>
<% @friends.each do |friend| %>
  <p>
    <%= friend.email %>
  </p>
<% end %>
<h2>Find New Friends</h2>
<% @other_users.each do |user| %>
  <p>
    <%= user.email%> <%= link_to "Go to Friend Request", new_user_friendship_request_path(user) %>
  </p>
<% end %>
