<h2>Account Details</h2>

<div class="user-container">
  <div class="account-info">
    <p>Name: <%= current_user.full_name %></p>
    <p>Email: <%= current_user.email %></p>
  </div>
  <div class="account-actions">
    <%= link_to "Edit Account", edit_user_registration_path %>
  </div>
</div>
