<footer>
  <div class="footer-artwork">
  </div>
  <ul>
    <li>Created by <%= link_to "rlmoser", "https://rlmoser.com/", title: "Portfolio" %></li>
    <li><%= link_to "https://github.com/rlmoser99", title: "GitHub" do %>
      <%= image_tag('github-dark.png', height: '24px', width: '24px') %>
    <% end %></li>
  </ul>
</footer>
