<div class="photo-form">
  <%= form_with model: @photo_post do |f| %>

    <div class="form-fields">
      <%= f.file_field :image %>
      <%= f.text_area :description, cols: 120, rows: 2, placeholder: "Describe your photo" %>
    </div>

    <%= button_tag :submit do %>
      <span class="material-icons">add</span>
      <span class="material-icons">image</span>
    <% end %>
  <% end %>
</div>
