@mixin button-form {
  form > input {
    background-color: $color-primary-gray;
    border: 2px solid $color-accent-green;
    color: $color-accent-green;
    margin-top: 1rem;
    width: 100%;

    &:hover {
      background-color: $color-accent-green;
      color: $color-primary-gray;
    }

    &:disabled {
      background-color: $color-primary-gray;
      color: $color-accent-green;
      opacity: .25;
    }
  }
}

@mixin button-group {
  .btn-group {
    display: flex;

    * > { flex: 0 1 auto; }

    form {
      margin: 0 .5rem;
      width: 100%;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@mixin text-form($color) {
  form {
    display: flex;
    margin: 1rem 0;

    * > { flex: 0 1 auto; }

    textarea {
      border: 2px solid $color;
      border-radius: $border-radius;
      box-sizing: border-box;
      padding: .5rem;
      width: 100%;
    }

    button {
      background-color: $color;
      border: none;
      border-radius: $border-radius;
      color: $color-primary-gray;
      margin-left: var(--spacing);
      padding: calc(var(--spacing) / 2);
    }
  }

  .cancel-edit-mode {
    color: $color-warning-red;
  }
}

@mixin user-container {
  border: 2px solid $color-dark-gray;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing);
  padding: var(--spacing);

  * > { flex: 0 1 auto;}
}

@mixin user-profile {
  align-items: center;
  display: flex;

  * > { flex: 0 1 auto; }

  p {
    margin-left: 1rem;
  }
}

@mixin avatar-blue-border {
  .avatar {
    .material-icons,
    img {
      border-color: $color-accent-blue
    }
  }
}

@mixin container-outline {
  border: $border-container;
  border-radius: $border-radius;
  margin: var(--spacing) 0;
  padding: var(--spacing);
}

@mixin default-post-styles {
  &-header {
    .header-profile {
      display: flex;

      * > { flex: 0 1 auto; }

      .header-content {
        strong {
          color: $color-accent-blue;
          font-size: 1.2rem;
        }
      }
    }
  }

  &-content {
    margin: 1rem 0;
  }

  &-actions {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;

    * > { flex: 0 1 auto; }

    .author-actions {
      align-self: flex-end;
      display: flex;

      * > { flex: 0 1 auto; }

      a {
        color: $color-accent-blue;
        padding: 0 .25rem;
        text-decoration: none;

        &:hover {
          color: $color-white;
        }
      }
    }

    .like-actions {
      display: flex;

      * > { flex: 0 1 auto; }
    }
  }
}
