@mixin button-group {
  .btn-group {
    display: flex;

    * > { flex: 0 1 auto; }

    form {
      margin: 0 .5rem;
      width: 100%;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@mixin outline-button($color) {
  background-color: inherit;
  border: 2px solid $color;
  border-radius: $border-radius;
  color: $color;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 4px 0 $color inset, 0 0 4px 2px $color;
  }

  &:disabled {
    box-shadow: none;
    opacity: .25;
  }
}

@mixin solid-button($color) {
  align-items: center;
  background-color: $color;
  border: 2px solid $color;
  border-radius: $border-radius;
  color: $color-white;
  display: flex;
  margin-left: 1rem;
  padding: .5rem;
  transition: all 150ms ease-in-out;

  * > { flex: 0 1 auto; }

  &:hover {
    border: 2px solid $color-white;
    box-shadow: 0 0 4px 1px $color-white;
  }
}

@mixin text-form($color) {
  form {
    margin: 1rem 0;

    textarea {
      border: 3px solid $color;
      border-radius: $border-radius;
      box-sizing: border-box;
      padding: .5rem;
      width: 100%;
    }

    .form-fields {
      align-items: center;
      display: flex;

      * > { flex: 0 1 auto; }
    }
  }

  .cancel-edit-mode {
    color: $color-yellow;
  }
}

@mixin user-container {
  border: 2px solid $color-dark-gray;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing);
  padding: var(--spacing);

  * > { flex: 0 1 auto;}
}

@mixin user-profile {
  align-items: center;
  display: flex;

  * > { flex: 0 1 auto; }

  p {
    margin-left: 1rem;
    font-size: 1.1rem;
  }
}

@mixin avatar-blue-border {
  .avatar {
    .material-icons,
    img {
      border-color: $color-accent-blue
    }
  }
}

@mixin container-outline {
  border: $border-container;
  border-radius: $border-radius;
  margin: var(--spacing) 0;
  padding: var(--spacing);
}

@mixin default-post-styles {
  &-header {
    .header-profile {
      display: flex;

      * > { flex: 0 1 auto; }

      .header-content {
        strong {
          color: $color-accent-blue;
          font-size: 1.2rem;
        }
      }
    }
  }

  &-content {
    margin: 1rem 0;
  }

  &-actions {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;

    * > { flex: 0 1 auto; }

    .author-actions {
      align-self: flex-end;
      display: flex;

      * > { flex: 0 1 auto; }

      a {
        color: $color-accent-blue;
        padding-left: .5rem;
        text-decoration: none;

        &:hover {
          color: $color-yellow;
        }
      }
    }

    .like-actions {
      display: flex;

      * > { flex: 0 1 auto; }
    }
  }
}
