$color-accent-green: #97CA4D;
$color-accent-blue: #17BED9;
$color-dark-gray: #444444;
$color-primary-gray: #333333;
$color-light-gray:#C2C2C2;
$color-warning-red: #D2042D;
$color-white: #ffffff;
$color-notice-blue: #007BBD;

// Colors found in artwork & might be of use
$color-dark-blue: #0082C9;
$color-light-green: #70C490;
$color-teal: #2EBFC7;

$border-radius: 3px;
$border-container: 3px solid $color-dark-gray;

$font-primary: 'Nunito Sans', sans-serif;

$phone: 425px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;
$widescreen: 2880px;

:root {
  --accent-art-height: 4rem;
  --accent-art-width: 100%;
  --page-margin: 1rem;
  --spacing: 1rem;
}

@media screen and (min-width: $phone) {
	:root {
    --accent-art-height: 5rem;
    --accent-art-width: 500px;
  }
}

@media screen and (min-width: $tablet) {
	:root {
    --accent-art-height: 6rem;
    --accent-art-width: 600px;
    --page-margin: 2rem;
    --spacing: 2rem;
  }
}

@media screen and (min-width: $laptop) {
	:root {
    --accent-art-height: 7rem;
    --accent-art-width: 700px;
    --page-margin: 150px;
  }
}

@media screen and (min-width: $desktop) {
	:root {
    --accent-art-height: 8rem;
    --accent-art-width: 800px;
    --page-margin: 15vw;
  }
}

@media screen and (min-width: $widescreen) {
	:root {
    --accent-art-height: 12rem;
    --accent-art-width: 1200px;
    --page-margin: 25vw;
  }
}
