$color-accent-green: #97CA4D;
$color-accent-blue: #17BED9;
$color-dark-gray: #444444;
$color-primary-gray: #333333;
$color-light-gray:#C2C2C2;
$color-white: #ffffff;

// Colors found in artwork & might be of use
$color-dark-blue: #0082C9;
$color-light-green: #70C490;
$color-teal: #2EBFC7;

$border-radius: 3px;

$font-primary: 'Nunito Sans', sans-serif;

:root {
  --spacing: 1rem;
  --accent-art-height: 4rem;
}
