.avatar {
  display: flex;

  * > { flex: 0 1 auto; }

  .material-icons,
  img {
    border: 1px dashed $color-accent-blue;
    border-radius: 50%;
    height: 65px;
    margin-right: 1rem;
    width: 65px;
  }

  .material-icons {
    font-size: 63px;
  }

  img {
    padding: 5px;
  }
}
