.comment {

  &-form {
    @include text-form($color-accent-green);
  }

  &-container {
    background-color: $color-dark-gray;
    border-left: 3px solid $color-accent-green;
    display: flex;
    margin: var(--spacing) 0;
    padding: 5px var(--spacing);

    * > { flex: 0 1 auto; }

    .profile-picture {
      @include profile-picture($color-accent-green);
    }
  }

  &-content {
    margin-left: 1rem;

    strong {
      color: $color-accent-green;
    }
  }
}
