.comment {

  &-form {
    @include text-form($color-accent-green);
  }

  &-container {
    background-color: $color-dark-gray;
    border-left: 3px solid $color-accent-green;
    display: flex;
    margin: var(--spacing) 0;
    padding: 1rem var(--spacing);

    * > { flex: 0 1 auto; }
  }

  &-heading {
    display: flex;

    * > { flex: 0 1 auto; }

    .author-info {
      display: flex;
      flex: 1 1 auto;
      justify-content: space-between;

      strong {
        color: $color-accent-green;
        font-size: 1.1rem;
      }
    }

    .comment-author-actions {
      padding-left: 1rem;

      a {
        color: $color-primary-gray;
        text-decoration: none;

        &:hover {
          color: $color-accent-green;
        }
      }
    }
  }

  &-content {
    flex: 1 1 auto;
  }
}
