.comment {

  &-form {
    @include text-form($color-accent-green);
  }

  &-container {
    background-color: $color-dark-gray;
    border-left: 3px solid $color-accent-green;
    margin: var(--spacing) 0;
    padding: 1rem;
  }

  &-header {
    align-items: center;
    display: flex;

    * > { flex: 0 1 auto; }

    .avatar {
      img {
        border-color: $color-accent-green;
        width: 50px;
      }

      .material-icons {
        border-color: $color-accent-green;
        font-size: 48px;
      }
    }

    p strong {
      color: $color-accent-green;
      font-size: 1.1rem;
      margin-right: 1rem;
    }
  }

  &-content {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    * > { flex: 0 1 auto; }

    .author-actions {
      align-self: flex-end;
      display: flex;
      margin-left: .5rem;

      * > {flex: 0 1 auto;}

      a {
        color: $color-accent-green;
        height: 24px;
        padding-left: .5rem;
        text-decoration: none;

        &:hover {
          color: $color-yellow;
        }
      }
    }
  }
}
