.registration-form {
  margin: 0 auto;
  max-width: 300px;

  form.button_to input {
    @include outline-button($color-accent-green);
  }
}

.field {
  color: $color-accent-green;
  margin-bottom: var(--spacing);

  input {
    width: 100%;
    padding: .3rem;
  }

  input#user_remember_me {
    width: auto;
  }
}

.actions > input {
  @include outline-button($color-accent-green);
}

.registration-tip {
  margin: 1rem 0;

  a {
    color: $color-accent-green;
  }
}
