footer {
  
  .footer-artwork {
    background: url(asset_path("network-bottom-artwork.png")) top center / cover;
    height: calc(var(--accent-art-height) * 1.5);
  }
  
  ul {
    align-items: center;
    background-color: $color-accent-green;
    color: #333333;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
  
    * > { flex: 0 1 auto; }
  }

  img {
    opacity: .75;
  }
}
