footer {
  
  .footer-artwork {
    background: url(asset_path("network-bottom-artwork.png")) top center / cover;
    height: calc(var(--accent-art-height) * 1.5);
    margin: 0 auto;
    max-width: var(--accent-art-width);
  }
  
  ul {
    align-items: center;
    background-color: $color-accent-green;
    color: $color-primary-gray;
    display: flex;
    justify-content: space-between;
    padding: 1rem var(--page-margin);
  
    * > { flex: 0 1 auto; }

    // github icon
    img {
      opacity: .8;
    }
  }
}
