.like-count {
  align-items: center;
  display: flex;

  * > { flex: 0 1 auto; }

  span {
    background-color: $color-dark-gray;
    border-radius: 50%;
    color: $color-accent-green;
    font-size: 1.2rem;
    margin-left: calc(var(--spacing) / 2);
    padding: 8px;
  }
}

// Button to add a new like to post
.like-form {
  button {
    background-color: $color-accent-green;
    border: none;
    border-radius: $border-radius;
    color: $color-primary-gray;
    padding: .5rem;
  }
}
