.like-count {
  align-items: center;
  background-color: $color-accent-blue;
  border: 2px solid $color-accent-blue;
  border-radius: $border-radius;
  color: $color-primary-gray;
  display: flex;
  margin-right: 5px;

  p {
    color: $color-primary-gray;
    padding: 5px 7px 5px 5px;
  }

  span {
    background-color: $color-primary-gray;
    border-radius: 0 $border-radius $border-radius 0;
    color: $color-accent-blue;
    padding: 5px;
  }
}

// Button to add a new like to post
.unlike-form,
.like-form {
  align-items: center;
  display: flex;

  span.material-icons {
    font-size: 30px;
  }

  button {
    background-color: $color-primary-gray;
    border: none;
    border-radius: $border-radius;
    color: $color-accent-blue;
  }

  button:hover {
    color: $color-light-gray;
  }
}
