.newsfeed {
  &-tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > * { flex: 0 1 auto; }

    input[type="radio"] {
      position: absolute;
      left: -9999px;
    }

    label {
      background-color: $color-primary-gray;
      padding: 1rem var(--spacing);
      border: $border-container;
      border-bottom: none;
      border-radius: 10px 10px 0 0;
      cursor: pointer;
      margin-right: 5px;;
    }

    input[type="radio"]:checked + label {
      background-color: $color-dark-gray;
    }

    [type="radio"]:checked + label + .tabs-content {
      display: block;
    }

    .tabs-content {
      background-color: $color-dark-gray;
      border: $border-container;
      border-radius: 0 $border-radius $border-radius $border-radius;
      display: none;
      order: 2;
      padding: var(--spacing);

      form {
        margin: 0;
      }
    }
  }
}
