// Nav Bar
.notification-count {
  background-color: $color-warning-red;
  border-radius: $border-radius;
  left: -.75rem;
  padding: 0 .2rem;
  position: relative;
  top: -1rem;
}

// Notification Page
.notification-summary {
  p {
    margin: calc(var(--spacing) / 2) 0;
  }

  .friend-container {
    @include user-container;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 500px;
    padding: 1rem;

    .btn-group {
      width: 100%;
    }
  }

  .friend-profile {
    @include user-profile;
  }

  @include button-group;
  @include button-form;
}

@media screen and (min-width: $tablet) {
  .notification-summary {
    .friend-container {
      justify-content: space-between;
      max-width: none;

      .btn-group {
        width: 50%;
      }
    }
  }
}
