// Nav Bar
.notification-count {
  background-color: $color-warning-red;
  border-radius: $border-radius;
  left: -.75rem;
  padding: 0 .2rem;
  position: relative;
  top: -1rem;
}

// Notification Page
.notification-summary {
  p {
    margin: calc(var(--spacing) / 2) 0;
  }

  .friend-container {
    @include user-container;
    max-width: 500px;
  }

  .friend-profile {
    @include user-profile;
  }

  @include button-group;
  @include button-form;
}
