.photo {
  &-form {
    @include text-form($color-accent-blue);

    form {
      flex-direction: column;

      button {
        margin: 1rem 0 0 0;
      }
    }

    .form-fields {
      display: flex;
      flex-direction: column;

      * > { flex: 0 1 auto; }

      input {
        color: $color-accent-blue;
        cursor: pointer;
        padding: 0;
      }

      input[type=file]::file-selector-button {
        background-color: $color-dark-gray;
        border: 2px solid $color-accent-blue;
        border-radius: $border-radius;
        color: $color-accent-blue;
        cursor: pointer;
        margin-bottom: 1rem;
        padding: calc(var(--spacing) / 4);
      }

      input[type=file]:hover::file-selector-button {
        background-color: $color-accent-blue;
        color: $color-primary-gray;
      }
    }
  }

  &-container {
    @include container-outline;

    .photo-image {
      height: auto;
      margin-top: 1rem;
      max-width: 500px;
      max-height: 500px;
      width: 100%;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;

    * > { flex: 0 1 auto; }
  }

  &-description {
    padding: 1rem 0;
  }
}

@media screen and (min-width: $phone) {
  .photo {
    &-form {
      form {
        flex-direction: row;

        button {
          margin: 0 0 0 1rem;
        }
      }
    }
  }
}
