.photo {
  @include default-post-styles;

  &-form {
    @include text-form($color-accent-blue);

    form {
      flex-direction: column;
    }

    .image-upload-field {
      display: flex;

      * > { flex: 0 1 auto; }

      input {
        color: $color-accent-blue;
        cursor: pointer;
        padding: 0;
      }

      input[type=file]::file-selector-button {
        background-color: $color-dark-gray;
        border: 2px solid $color-accent-blue;
        border-radius: $border-radius;
        color: $color-accent-blue;
        cursor: pointer;
        margin-bottom: 1rem;
        padding: calc(var(--spacing) / 4);
      }

      input[type=file]:hover::file-selector-button {
        background-color: $color-accent-blue;
        color: $color-primary-gray;
      }
    }

    .form-fields {
      display: flex;

      * > { flex: 0 1 auto; }
    }
  }

  &-container {
    @include container-outline;

    .photo-image {
      height: auto;
      max-width: 500px;
      max-height: 500px;
      width: 100%;
    }
  }

  &-description {
    padding: 1rem 0;
  }
}
