.post {

  &-form {
    @include text-form($color-accent-blue);
  }

  &-container {
    border: 3px solid $color-dark-gray;
    border-radius: $border-radius;
    margin: var(--spacing) 0;
    padding: var(--spacing);
  }

  &-header {
    display: flex;
    justify-content: space-between;

    * > { flex: 0 1 auto; }
  }

  &-content {
    padding: 1rem 0;
  }
}

.header-profile {
  display: flex;

  @include avatar-blue-border;

  * > { flex: 0 1 auto; }

  .header-content {
    strong {
      color: $color-accent-blue;
      font-size: 1.2rem;
    }
  }
}
