.post {
  margin: 0 var(--spacing);

  &-new,
  &-container {
    background-color: $color-primary-light;
    border-radius: $border-radius;
    margin: var(--spacing) 0;
    padding: var(--spacing);
  }

  &-header {
    display: flex;
    justify-content: space-between;
  
    * > { flex: 0 1 auto; }
  }

  &-actions {
    .form-button {
      margin-top: var(--spacing);
    }
  }
}
