.user-container {
  padding: var(--spacing) 0;

  * > { flex: 0 1 auto; }

  .account-info {

    form {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      max-width: 450px;

      @include container-outline;

      * > { flex: 0 1 auto; }
    }

    label {
      color: $color-white;
    }

    input {
      color: $color-accent-blue;
      cursor: pointer;
      padding: 0;
    }

    input[type=file]::file-selector-button {
      background-color: $color-primary-gray;
      border: 2px solid $color-accent-blue;
      border-radius: $border-radius;
      color: $color-accent-blue;
      cursor: pointer;
      margin-top: 1rem;
      padding: calc(var(--spacing) / 4);
    }

    input[type="submit"] {
      background-color: $color-accent-blue;
      border: none;
      border-radius: $border-radius;
      color: $color-primary-gray;
      margin-top: 1rem;
      padding: calc(var(--spacing) / 2);
    }

    input[type=file]:hover::file-selector-button {
      background-color: $color-accent-blue;
      color: $color-primary-gray;
    }
  }

  .account-header {
    align-items: center;
    display: flex;
    font-size: 1.4rem;
    margin-bottom: 1rem;

    @include avatar-blue-border;

    * > { flex: 0 1 auto;}
  }

  a {
    color: $color-accent-blue;
  }
}

@media screen and (min-width: $phone) {
	.user-container > .account-info > form {
    flex-direction: row;
    justify-content: space-between;

    input[type="submit"] {
      margin-top: 0;
    }
  }
}
